<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.makeus.milliewillie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mw_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.plan.PlanOutputActivity">
        </activity>

        <service
            android:name=".FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.MainCalendarActivity" />
        <activity android:name=".ui.holiday.HolidayActivity"></activity>
        <activity android:name=".ui.mypage.InfoEnlistActivity" />
        <activity
            android:name=".ui.mypage.MyPageEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.mypage.MyPageActivity" />
        <activity android:name=".ui.plan.PlanCalendarActivity" />
        <activity android:name=".ui.plan.PlanVacationActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2d201bd6dccfb28dcd39158f1557383b" />

        <activity android:name=".ui.holiday.HolidayEditActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao2d201bd6dccfb28dcd39158f1557383b" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.intro.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.LoginActivity">

        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".ui.plan.MakePlanActivity"/>
        <activity
            android:name=".ui.intro.IntroSettingNameActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.intro.IntroServiceTypeActivity"/>



        <activity android:name=".ui.mypage.InfoMiliActivity"/>

        <activity android:name=".ui.dDay.DdayActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.routine.MakeRoutineActivity" />
        <activity android:name=".ui.intro.IntroServiceTypeDetailActivity" />
        <activity android:name=".ui.intro.IntroEnlistDateSoldierActivity" />
        <activity android:name=".ui.intro.IntroEnlistDateSergeantActivity" />
        <activity android:name=".ui.intro.IntroGoalActivity" />
        <activity android:name=".ui.workoutStart.WorkoutStartActivity" />
        <activity android:name=".ui.todayWorkout.TodayWorkoutActivity" />
        <activity android:name=".ui.weightRecord.WeightRecordActivity" />

        <activity android:name=".ui.report.ReportActivity"/>
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.info.AccountActivity"/>
        <activity android:name=".ui.info.RuleWebViewActivity"/>

    </application>

</manifest>